<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Mobile Read DB -->
	<bean id="mobileReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${mobileReadOnly.driverClassName}" />
		<property name="url" value="${mobileReadOnly.url}" />
		<property name="username" value="${mobileReadOnly.username}" />
		<property name="password" value="${mobileReadOnly.password}" />
		<property name="initialSize" value="${mobileReadOnly.initialSize}" />
		<property name="maxWait" value="${mobileReadOnly.maxWait}" />
		<property name="maxActive" value="${mobileReadOnly.maxActive}" />
		<property name="validationQuery" value="${mobileReadOnly.validationQuery}" />
		<property name="testOnBorrow" value="${mobileReadOnly.testOnBorrow}" />
		<property name="testOnReturn" value="${mobileReadOnly.testOnReturn}" />
		<property name="testWhileIdle" value="${mobileReadOnly.testWhileIdle}" />
		<property name="maxIdle" value="${mobileReadOnly.maxIdle}" />
		<property name="minIdle" value="${mobileReadOnly.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${mobileReadOnly.timeBetweenEvictionRunsMillis}" />
	</bean>
	<bean id="mobileReadOnlySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mobileReadOnlyDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/mobile/*.xml" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>

	<!-- Mobile DB -->
	<bean id="mobileDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${mobile.driverClassName}" />
		<property name="url" value="${mobile.url}" />
		<property name="username" value="${mobile.username}" />
		<property name="password" value="${mobile.password}" />
		<property name="initialSize" value="${mobile.initialSize}" />
		<property name="maxWait" value="${mobile.maxWait}" />
		<property name="maxActive" value="${mobile.maxActive}" />
		<property name="validationQuery" value="${mobile.validationQuery}" />
		<property name="testOnBorrow" value="${mobile.testOnBorrow}" />
		<property name="testOnReturn" value="${mobile.testOnReturn}" />
		<property name="testWhileIdle" value="${mobile.testWhileIdle}" />
		<property name="maxIdle" value="${mobile.maxIdle}" />
		<property name="minIdle" value="${mobile.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${mobile.timeBetweenEvictionRunsMillis}" />
	</bean>

	<!-- Push read only DB -->
	<bean id="pushReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${pushReadOnly.driverClassName}" />
		<property name="url" value="${pushReadOnly.url}" />
		<property name="username" value="${pushReadOnly.username}" />
		<property name="password" value="${pushReadOnly.password}" />
		<property name="initialSize" value="${pushReadOnly.initialSize}" />
		<property name="maxWait" value="${pushReadOnly.maxWait}" />
		<property name="maxActive" value="${pushReadOnly.maxActive}" />
		<property name="validationQuery" value="${pushReadOnly.validationQuery}" />
		<property name="testOnBorrow" value="${pushReadOnly.testOnBorrow}" />
		<property name="testOnReturn" value="${pushReadOnly.testOnReturn}" />
		<property name="testWhileIdle" value="${pushReadOnly.testWhileIdle}" />
		<property name="maxIdle" value="${pushReadOnly.maxIdle}" />
		<property name="minIdle" value="${pushReadOnly.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${pushReadOnly.timeBetweenEvictionRunsMillis}" />
	</bean>
	<!-- Push DB -->
	<bean id="pushDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${push.driverClassName}" />
		<property name="url" value="${push.url}" />
		<property name="username" value="${push.username}" />
		<property name="password" value="${push.password}" />
		<property name="initialSize" value="${push.initialSize}" />
		<property name="maxWait" value="${push.maxWait}" />
		<property name="maxActive" value="${push.maxActive}" />
		<property name="validationQuery" value="${push.validationQuery}" />
		<property name="testOnBorrow" value="${push.testOnBorrow}" />
		<property name="testOnReturn" value="${push.testOnReturn}" />
		<property name="testWhileIdle" value="${push.testWhileIdle}" />
		<property name="maxIdle" value="${push.maxIdle}" />
		<property name="minIdle" value="${push.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${push.timeBetweenEvictionRunsMillis}" />
	</bean>


	<bean id="pushReadOnlySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="pushReadOnlyDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/push/*.xml" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>
	<bean id="pushSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="pushDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/push/*.xml" />
	</bean>
	<bean id="mobileSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mobileDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/mobile/*.xml" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>

	<!-- ticketmonster DB -->

	<!-- Uncomment and your base-package here: <context:component-scan base-package="org.springframework.samples.web"/> -->

	<bean id="ticketmonsterReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${ticketmonsterReadOnly.driverClassName}" />
		<property name="url" value="${ticketmonsterReadOnly.url}" />
		<property name="username" value="${ticketmonsterReadOnly.username}" />
		<property name="password" value="${ticketmonsterReadOnly.password}" />
		<property name="initialSize" value="${ticketmonsterReadOnly.initialSize}" />
		<property name="maxWait" value="${ticketmonsterReadOnly.maxWait}" />
		<property name="maxActive" value="${ticketmonsterReadOnly.maxActive}" />
		<property name="validationQuery" value="${ticketmonsterReadOnly.validationQuery}" />
		<property name="testOnBorrow" value="${ticketmonsterReadOnly.testOnBorrow}" />
		<property name="testOnReturn" value="${ticketmonsterReadOnly.testOnReturn}" />
		<property name="testWhileIdle" value="${ticketmonsterReadOnly.testWhileIdle}" />
		<property name="maxIdle" value="${ticketmonsterReadOnly.maxIdle}" />
		<property name="minIdle" value="${ticketmonsterReadOnly.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${ticketmonsterReadOnly.timeBetweenEvictionRunsMillis}" />
	</bean>

	<bean id="ticketmonsterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${ticketmonster.driverClassName}" />
		<property name="url" value="${ticketmonster.url}" />
		<property name="username" value="${ticketmonster.username}" />
		<property name="password" value="${ticketmonster.password}" />
		<property name="initialSize" value="${ticketmonster.initialSize}" />
		<property name="maxWait" value="${ticketmonster.maxWait}" />
		<property name="maxActive" value="${ticketmonster.maxActive}" />
		<property name="validationQuery" value="${ticketmonster.validationQuery}" />
		<property name="testOnBorrow" value="${ticketmonster.testOnBorrow}" />
		<property name="testOnReturn" value="${ticketmonster.testOnReturn}" />
		<property name="testWhileIdle" value="${ticketmonster.testWhileIdle}" />
		<property name="maxIdle" value="${ticketmonster.maxIdle}" />
		<property name="minIdle" value="${ticketmonster.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${ticketmonster.timeBetweenEvictionRunsMillis}" />
	</bean>

	<bean id="ticketmonsterReadOnlySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ticketmonsterReadOnlyDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>
	<bean id="ticketmonsterSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ticketmonsterDataSource" />
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>
	
	<bean id="dataSource_billing" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_billing.driverClassName}"/>
		<property name="url" value="${jdbc_billing.url}"/>
		<property name="username" value="${jdbc_billing.username}"/>
		<property name="password" value="${jdbc_billing.password}"/>
		<property name="initialSize" value="${jdbc_billing.initialSize}" />
		<property name="maxWait" value="${jdbc_billing.maxWait}" />
		<property name="maxActive" value="${jdbc_billing.maxActive}" />
		<property name="validationQuery" value="${jdbc_billing.validationQuery}" />
		<property name="testOnBorrow" value="${jdbc_billing.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc_billing.testOnReturn}" />
		<property name="testWhileIdle" value="${jdbc_billing.testWhileIdle}" />
		<property name="maxIdle" value="${jdbc_billing.maxIdle}" />
		<property name="minIdle" value="${jdbc_billing.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc_billing.timeBetweenEvictionRunsMillis}" />
	</bean>

	<bean id="dataSource_billing_readonly" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_billing_readonly.driverClassName}"/>
		<property name="url" value="${jdbc_billing_readonly.url}"/>
		<property name="username" value="${jdbc_billing_readonly.username}"/>
		<property name="password" value="${jdbc_billing_readonly.password}"/>
		<property name="initialSize" value="${jdbc_billing_readonly.initialSize}" />
		<property name="maxWait" value="${jdbc_billing_readonly.maxWait}" />
		<property name="maxActive" value="${jdbc_billing_readonly.maxActive}" />
		<property name="validationQuery" value="${jdbc_billing_readonly.validationQuery}" />
		<property name="testOnBorrow" value="${jdbc_billing_readonly.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc_billing_readonly.testOnReturn}" />
		<property name="testWhileIdle" value="${jdbc_billing_readonly.testWhileIdle}" />
		<property name="maxIdle" value="${jdbc_billing_readonly.maxIdle}" />
		<property name="minIdle" value="${jdbc_billing_readonly.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc_billing_readonly.timeBetweenEvictionRunsMillis}" />
	</bean>
	
	<bean id="billingSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_billing"/>
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>

	<bean id="billingReadOnlySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_billing_readonly"/>
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>		
	
	
	<bean id="dataSource_search" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_search.driverClassName}"/>
		<property name="url" value="${jdbc_search.url}"/>
		<property name="username" value="${jdbc_search.username}"/>
		<property name="password" value="${jdbc_search.password}"/>
		<property name="initialSize" value="${jdbc_search.initialSize}" />
		<property name="maxWait" value="${jdbc_search.maxWait}" />
		<property name="maxActive" value="${jdbc_search.maxActive}" />
		<property name="validationQuery" value="${jdbc_search.validationQuery}" />
		<property name="testOnBorrow" value="${jdbc_search.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc_search.testOnReturn}" />
		<property name="testWhileIdle" value="${jdbc_search.testWhileIdle}" />
		<property name="maxIdle" value="${jdbc_search.maxIdle}" />
		<property name="minIdle" value="${jdbc_search.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc_search.timeBetweenEvictionRunsMillis}" />
	</bean>

	<bean id="dataSource_search_readonly" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_search_readonly.driverClassName}"/>
		<property name="url" value="${jdbc_search_readonly.url}"/>
		<property name="username" value="${jdbc_search_readonly.username}"/>
		<property name="password" value="${jdbc_search_readonly.password}"/>
		<property name="initialSize" value="${jdbc_search_readonly.initialSize}" />
		<property name="maxWait" value="${jdbc_search_readonly.maxWait}" />
		<property name="maxActive" value="${jdbc_search_readonly.maxActive}" />
		<property name="validationQuery" value="${jdbc_search_readonly.validationQuery}" />
		<property name="testOnBorrow" value="${jdbc_search_readonly.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc_search_readonly.testOnReturn}" />
		<property name="testWhileIdle" value="${jdbc_search_readonly.testWhileIdle}" />
		<property name="maxIdle" value="${jdbc_search_readonly.maxIdle}" />
		<property name="minIdle" value="${jdbc_search_readonly.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc_search_readonly.timeBetweenEvictionRunsMillis}" />
	</bean>
	
	<bean id="searchSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_search"/>
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>

	<bean id="searchReadOnlySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_search_readonly"/>
		<property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>		
	
</beans>